@font-face {
  font-family: 'iconfont';  /* project id 266420 */
  src: url('//at.alicdn.com/t/font_xfucbccklfyzm2t9.eot');
  src: url('//at.alicdn.com/t/font_xfucbccklfyzm2t9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_xfucbccklfyzm2t9.woff') format('woff'),
  url('//at.alicdn.com/t/font_xfucbccklfyzm2t9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_xfucbccklfyzm2t9.svg#iconfont') format('svg');
}
@import url("//at.alicdn.com/t/font_xfucbccklfyzm2t9.css");

[class*=" i-icon-"], [class^=i-icon-] {
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  padding: 10px;
  background-position: 11px 11px;
}

.i-logo {
  float: left;
  position: relative;
  width: 113px;
  height: $header-height;
  background: url("./assets/img/v2/Group 45.png") center center no-repeat;
  background-size: 113px 25px;
}

.i-filter {
  display: block;
  width: 23px;
  height: 15px;
  background: url("./assets/img/v2/Sort@1x.png") center center no-repeat;
  background-size: 23px 15px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .i-logo {
    background-image: url("./assets/img/v2/Group 45@2x.png");
  }
  .i-filter {
    background-image: url("./assets/img/v2/Sort@2x.png");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-device-pixel-ratio: 3) {
  .i-logo {
    background-image: url("./assets/img/v2/Group 45@3x.png");
  }
  .i-filter {
    background-image: url("./assets/img/v2/Sort@3x.png");
  }
}
